<!DOCTYPE html>
<html lang="zh"
      xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="author" content="Website">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0">
    <title>我的网站</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/swiper-3.3.1.min.css}" rel="stylesheet">
    <link th:href="@{/css/aos.css}" rel="stylesheet">
    <link th:href="@{/css/xlx.shuwon.css}" rel="stylesheet">

    <!--    表格-->
    <link th:href="@{/css/table/tailwind.min.css}" rel="stylesheet">
    <link th:href="@{/css/table/style.css}" rel="stylesheet">
    <link th:href="@{/css/online/onLine.css}" rel="stylesheet">
    <link th:href="@{/css/layui.css}" rel="stylesheet">
    <!--    <link href="http://www.htmlsucai.com/favicon.ico" rel="shortcut icon">-->
    <!--    <link href="http://www.htmlsucai.com/demo/2018/favicon.ico" *tpa="http://r060.mobanvip.com/favicon.ico*/"-->
    <!--          rel="shortcut icon">-->
</head>
<style>
    .choose {
        color: red;
        font-weight: bold;
    }

    .ash {
        color: #ccc;
    }

    .cycle {
        height: 100%;
        width: 100%;
        /*line-height: 34px;*/
    }

    .demo {
        position: relative;
    }

    .cavans {
        /*position: absolute;*/
        /*top: 86px;*/
        /*z-index: 2;*/
        /*left: 104px;*/
    }

    .t {
        border: 3px solid #CCC;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        table-layout: fixed;
        /*margin: 40px 100px;*/
    }

    .t tr:first-child td:not(:first-child) {
        background-color: rgba(192, 253, 255, 0.3);
    }

    .t tr td:first-child {
        /*width: 45px;*/
    }

    .t td {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 20%;
        height: 34px;
        border: 1px solid #b3b3b3;
        align-items: center;
        text-align: center;
        cursor: default;
    }

    .t td:hover {
        background-color: rgba(128, 128, 128, 0.1);
    }

    #lineDiv {
        position: absolute;
        /*top: calc(100% - 750px);*/
        /*left: calc(100% - 1833px);*/
        height: 100%;
    }

    .w-11\/12 {
        width: 96% !important;
    }
</style>
<body aos-easing="ease-out" aos-duration="600" aos-delay="0" style="">

<div class="zhidingUP"></div>
<div class="zhiding"></div>
<div id="mobileNav">
    <ul></ul>
</div>

<div class="shade show">
    <div class="shade-top"></div>
    <div class="shade-bottom"></div>
    <img th:src="@{/image/loading.gif}" class="loading">
</div>

<header>
    <div class="nav-top">
        <a href="http://www.htmlsucai.com/demo/2018/04/%E5%A4%A7%E6%B0%94%E7%9A%84%E5%AE%B6%E5%85%B7%E8%A3%85%E9%A5%B0%E4%BA%A7%E5%93%81%E4%BC%81%E4%B8%9A%E7%AB%99%E5%93%8D%E5%BA%94%E5%BC%8F%E6%A8%A1%E6%9D%BF/index.htm"
           class="logo">
            <img src="/image/logo.png" class="img1">
            <img src="/image/logo-top.png" class="img2">
        </a>
        <div class="memu">
            <div id="navToggle">
                <span class="span1"></span>
                <span class="span2"></span>
                <span class="span3"></span>
            </div>
            <img th:src="@{/image/menu.png}" class="img1">
            <img th:src="@{/image/menu-top.png}" class="img2">
        </div>
    </div>
    <nav class="nav">
        <div class="line"></div>
        <ul class="nav-ul1">
            <li class="n1">
                <a href="http://www.htmlsucai.com/demo/2018/04/%E5%A4%A7%E6%B0%94%E7%9A%84%E5%AE%B6%E5%85%B7%E8%A3%85%E9%A5%B0%E4%BA%A7%E5%93%81%E4%BC%81%E4%B8%9A%E7%AB%99%E5%93%8D%E5%BA%94%E5%BC%8F%E6%A8%A1%E6%9D%BF/product-cj.html"
                   class="a1">1</a>
                <ul class="nav-ul2">
                    <li>
                        <a href="http://www.htmlsucai.com/demo/2018/04/%E5%A4%A7%E6%B0%94%E7%9A%84%E5%AE%B6%E5%85%B7%E8%A3%85%E9%A5%B0%E4%BA%A7%E5%93%81%E4%BC%81%E4%B8%9A%E7%AB%99%E5%93%8D%E5%BA%94%E5%BC%8F%E6%A8%A1%E6%9D%BF/product-cj.html">1</a>
                        <a href="http://www.htmlsucai.com/demo/2018/04/%E5%A4%A7%E6%B0%94%E7%9A%84%E5%AE%B6%E5%85%B7%E8%A3%85%E9%A5%B0%E4%BA%A7%E5%93%81%E4%BC%81%E4%B8%9A%E7%AB%99%E5%93%8D%E5%BA%94%E5%BC%8F%E6%A8%A1%E6%9D%BF/product-cp.html">2</a>
                        <a href="http://www.htmlsucai.com/demo/2018/04/%E5%A4%A7%E6%B0%94%E7%9A%84%E5%AE%B6%E5%85%B7%E8%A3%85%E9%A5%B0%E4%BA%A7%E5%93%81%E4%BC%81%E4%B8%9A%E7%AB%99%E5%93%8D%E5%BA%94%E5%BC%8F%E6%A8%A1%E6%9D%BF/product-xl.html">3</a>
                    </li>
                </ul>
            </li>
            <li class="n2">
                <a href="http://www.htmlsucai.com/demo/2018/04/%E5%A4%A7%E6%B0%94%E7%9A%84%E5%AE%B6%E5%85%B7%E8%A3%85%E9%A5%B0%E4%BA%A7%E5%93%81%E4%BC%81%E4%B8%9A%E7%AB%99%E5%93%8D%E5%BA%94%E5%BC%8F%E6%A8%A1%E6%9D%BF/brand-ln.html"
                   class="a1">2</a>
                <ul class="nav-ul2">
                    <li>

                        <a href="http://www.htmlsucai.com/demo/2018/04/%E5%A4%A7%E6%B0%94%E7%9A%84%E5%AE%B6%E5%85%B7%E8%A3%85%E9%A5%B0%E4%BA%A7%E5%93%81%E4%BC%81%E4%B8%9A%E7%AB%99%E5%93%8D%E5%BA%94%E5%BC%8F%E6%A8%A1%E6%9D%BF/brand-ln.html">1</a>

                        <a href="http://www.htmlsucai.com/demo/2018/04/%E5%A4%A7%E6%B0%94%E7%9A%84%E5%AE%B6%E5%85%B7%E8%A3%85%E9%A5%B0%E4%BA%A7%E5%93%81%E4%BC%81%E4%B8%9A%E7%AB%99%E5%93%8D%E5%BA%94%E5%BC%8F%E6%A8%A1%E6%9D%BF/brand-zx.html">2</a>

                        <a href="http://www.htmlsucai.com/demo/2018/04/%E5%A4%A7%E6%B0%94%E7%9A%84%E5%AE%B6%E5%85%B7%E8%A3%85%E9%A5%B0%E4%BA%A7%E5%93%81%E4%BC%81%E4%B8%9A%E7%AB%99%E5%93%8D%E5%BA%94%E5%BC%8F%E6%A8%A1%E6%9D%BF/brand-yc.html">3</a>

                    </li>
                </ul>
            </li>
        </ul>
        <div class="line line-b"></div>
    </nav>
</header>

<section class="home-body">
    <iframe src="/colorSeed/select" frameborder="0" width="70" height="200"
            style="position:fixed;top: 100px;left:5px;z-index: 99"></iframe>
    <div class="main-body" style="height: 100vh;">
        <div class="flex flex-col justify-center items-center bg-gray-100 py-5 demo" data-pair="3">
            <h1 class="text-xl font-bold uppercase my-3">表格</h1>
            <div class=" w-11/12" id="lineDiv">
                <canvas width="480" height="430"
                        id="lineCanvas">
                </canvas>
            </div>
            <div class=" w-11/12">
                <table lay-filter="colorTable" id="colorTable">

                </table>
            </div>
            <!--            <ul class="table grid w-11/12 text-lg shadow-md border border-solid bg-white" id="ul-data">-->
            <!--                <li class="bg-purple-100 flex items-center justify-center li-0">期数</li>-->
            <!--            </ul>-->
            <!-- -->
            <!--            <canvas class="backcanvas cavans" width="480" height="430"></canvas>-->
        </div>
    </div>
</section>
<div class="layui-btn-group demoTable" style="margin-bottom: 10px;">
    <button class="layui-btn" data-type="parseTable">立即转化为数据表格</button>
</div>
<script th:src="@{/js/jquery-1.10.2.min.js}"></script>
<script th:src="@{/js/layui.js}"></script>
<script th:src="@{/js/aos.js}"></script>
<script th:src="@{/js/swiper.js}"></script>
<script th:src="@{/js/xlx.shuwon.js}" id="JS" page="home"></script>
<!--table-->
<!--<script th:src="@{/js/table/vue.min.js}"></script>-->
<!--<script th:src="@{/js/table/script.js}"></script>-->
<!--<script th:inline="javascript">-->
<!--    var lineVal = [];-->
<!--    if ($(window).width() > 1024) {-->
<!--        AOS.init({-->
<!--            duration: 600,-->
<!--            easing: 'ease-out',-->
<!--        });-->
<!--    }-->
<!--    var data = [[${cs}]];-->

<!--    function getLi(item, idx, num, choose, isTitle, isPos) {-->
<!--        var chooseCss = choose ? 'choose' : isTitle ? '' : 'ash';-->
<!--        if (choose) {-->
<!--            return `<td class="character border  items-center justify-center li-${idx} ${chooseCss}"><div class="cycle" isEvenNum="${item.numPeriods % 2 === 0}" id="${item.numPeriods}-${idx}" pos="${isPos}">${num}</div></td>`;-->
<!--        }-->
<!--        return `<td class="character border items-center justify-center li-${idx} ${chooseCss}">${num}</td>`;-->
<!--    }-->

<!--    function getTitleLi(item, idx, num, choose, isTitle, isPos) {-->
<!--        var chooseCss = choose ? 'choose' : isTitle ? '' : 'ash';-->
<!--        if (choose) {-->
<!--            return `<th lay-data="{field:'preNum', width:200}" class="character border  items-center justify-center li-${idx} ${chooseCss}"><div class="cycle" isEvenNum="${item.numPeriods % 2 === 0}" id="${item.numPeriods}-${idx}" pos="${isPos}">${num}</div></th>`;-->
<!--        }-->
<!--        return `<th lay-data="{field:'preNum${idx}', width:34}" class="character border items-center justify-center li-${idx} ${chooseCss}">${num}</th>`;-->
<!--    }-->

<!--    function getCell1(num) {-->
<!--        return `<td class="bg-purple-100 items-center justify-center li-0">${num}</td>`;-->
<!--    }-->

<!--    function getTitle() {-->
<!--        var $thisTable = $('.t').find('thead');-->
<!--        $thisTable.append(`<tr></tr>`);-->
<!--        var $this = $thisTable.find('tr');-->
<!--        $this.append(`<th class="bg-purple-100 items-center justify-center li-0"><div id="headDiv">期数</div></th>`);-->
<!--        for (let i = 1; i < 51; i++) {-->
<!--            if (i >= 36) {-->
<!--                var it = (i - 35) < 10 ? ('0' + (i - 35)) : (i - 35);-->
<!--                $this.append(getTitleLi(null, i - 35, it, undefined, true, 1));-->
<!--            } else {-->
<!--                var it2 = i < 10 ? ('0' + i) : i;-->
<!--                $this.append(getTitleLi(null, i, it2, undefined, true, 0));-->
<!--            }-->
<!--        }-->
<!--    }-->

<!--    function getRow($this, item) {-->
<!--        var data = [];-->
<!--        for (let i = 1; i < 8; i++) {-->
<!--            if (i < 6) {-->
<!--                data.push(item['preNum' + i]);-->
<!--            } else {-->
<!--                data.push(item['sufNum' + (i - 5)]);-->
<!--            }-->
<!--        }-->
<!--        // var $this = $('#ul-data');-->
<!--        for (let i = 1; i < 51; i++) {-->
<!--            if (i >= 36) {-->
<!--                var it = (i - 35) < 10 ? ('0' + (i - 35)) : (i - 35);-->
<!--                $this.append(getLi(item, i - 35, it, data.slice(5, data.length).includes(it + ''), undefined, 1));-->
<!--            } else {-->
<!--                var it2 = i < 10 ? ('0' + i) : i;-->
<!--                $this.append(getLi(item, i, it2, data.slice(0, 5).includes('' + it2), undefined, 0));-->
<!--            }-->
<!--        }-->
<!--    }-->

<!--    $(function () {-->
<!--        getTitle();-->
<!--        creatTable(data);-->
<!--    })-->

<!--    function creatTable(d) {-->
<!--        $.each(d || [], function (index, item) {-->
<!--            var $this = $('.t').find('thead');-->
<!--            $this.append(`<tr id="tr-${index}"></tr>`);-->
<!--            $this = $('#tr-' + index)-->
<!--            $this.append(getCell1(item.numPeriods));-->
<!--            getRow($this, item);-->
<!--        })-->
<!--        initRow($);-->
<!--    }-->

<!--    function line() {-->
<!--        var preId, preVal, pre, flag = false, value = [];-->
<!--        $.each($('td div'), function (index, item) {-->
<!--            var val = $(item).attr('id');-->
<!--            var v1 = val.split('-')[0];-->
<!--            var v2 = val.split('-')[1];-->
<!--            if (index === 0) {-->
<!--                lineVal.push({key: v1, value: []})-->
<!--            } else {-->
<!--                if (lineVal[lineVal.length - 1].key == v1) {-->
<!--                    value.push({x: $(item).attr('left'), y: $(item).attr('top'), v: v2, pos: $(item).attr('pos')});-->
<!--                    lineVal[lineVal.length - 1].value = value;-->
<!--                } else {-->
<!--                    value = []-->
<!--                    value.push({x: $(item).attr('left'), y: $(item).attr('top'), v: v2, pos: $(item).attr('pos')});-->
<!--                    lineVal.push({-->
<!--                        key: v1, value: value-->
<!--                    });-->
<!--                }-->
<!--            }-->
<!--            flag = abs(preId, v1) && abs(preVal, v2);-->
<!--            if (preId === undefined || (preId !== v1 && preId - v1 === 2)) {-->
<!--                preId = v1;-->
<!--            }-->
<!--            if (preVal === undefined || (preVal !== v1)) {-->
<!--                preVal = v2;-->
<!--            }-->
<!--        })-->
<!--    }-->

<!--    function abs(num1, num2) {-->
<!--        return Math.abs(num1 - num2) === 1-->
<!--    }-->
<!--</script>-->


<!--<script th:src="@{/js/line/online.js}"></script>-->
<!--<script th:src="@{/js/utils.js}"></script>-->

<!--<script>-->
<!--    var dataNum = [];-->

<!--    function lineToNum(values, loop) {-->
<!--        // 2个连线-->
<!--        // for (let i = 0; i < lineVal.length; i++) {-->
<!--        //     var l1 = lineVal[i];-->
<!--        //     for (let j = 1; j < lineVal.length; j++) {-->
<!--        //         var l2 = lineVal[j];-->
<!--        //         if (Math.abs(parseInt(l1.key) - parseInt(l2.key)) === 2) {-->
<!--        //             l1.value.forEach(it1 => {-->
<!--        //                 l2.value.forEach(it2 => {-->
<!--        //                     if (it1.pos === it2.pos) {-->
<!--        //                         if (Math.abs(it1.v - it2.v) === 1) {-->
<!--        //                             dataNum.push({moveX: it1.x, moveY: it1.y, toX: it2.x, toY: it2.y});-->
<!--        //                         }-->
<!--        //                     }-->
<!--        //                 });-->
<!--        //             });-->
<!--        //             break-->
<!--        //         }-->
<!--        //     }-->
<!--        // }-->
<!--        // 3个连线-->
<!--        for (let i = 0; i < lineVal.length; i++) {-->
<!--            var l1 = lineVal[i];-->
<!--            for (let j = 1; j < lineVal.length; j++) {-->
<!--                var l2 = lineVal[j];-->
<!--                // key 相减=1-->
<!--                if (Math.abs(parseInt(l1.key) - parseInt(l2.key)) === 1) {-->
<!--                    l1.value.forEach(it1 => {-->
<!--                        l2.value.forEach(it2 => {-->
<!--                            if (it1.pos === it2.pos) {-->
<!--                                // 值相减=1-->
<!--                                var a1 = it1.v - it2.v;-->
<!--                                if (Math.abs(a1) === 1) {-->
<!--                                    for (let k = 1; k < lineVal.length; k++) {-->
<!--                                        var l3 = lineVal[k];-->
<!--                                        // key 相减=1-->
<!--                                        if (Math.abs(parseInt(l2.key) - parseInt(l3.key)) === 1) {-->
<!--                                            l3.value.forEach(it3 => {-->
<!--                                                if (it3.pos === it2.pos) {-->
<!--                                                    // 值相减=1-->
<!--                                                    var b1 = it3.v - it2.v;-->
<!--                                                    if (Math.abs(b1) === 1) {-->
<!--                                                        a1 !== b1 && l1.key !== l3.key && dataNum.push({-->
<!--                                                            moveX: it1.x,-->
<!--                                                            moveY: it1.y,-->
<!--                                                            toX: it3.x,-->
<!--                                                            toY: it3.y-->
<!--                                                        });-->
<!--                                                    }-->
<!--                                                }-->
<!--                                            });-->
<!--                                            break-->
<!--                                        }-->
<!--                                    }-->
<!--                                }-->
<!--                            }-->
<!--                        });-->
<!--                    });-->
<!--                    break-->
<!--                }-->
<!--            }-->
<!--        }-->
<!--        console.log(dataNum)-->
<!--    }-->

<!--    $(function () {-->
<!--        var obj = $(".demo");-->
<!--        var size = obj.size();-->
<!--        for (var i = 0; i < size; i++) {-->
<!--            obj.eq(i).onLine({-->
<!--                regainCanvas: true-->
<!--            });-->
<!--        }-->
<!--        line();-->
<!--        lineToNum(lineVal);-->
<!--        strockline()-->
<!--    });-->

<!--    top.refreshColor = function (currPageSize) {-->
<!--        $.load.loading();-->
<!--        var option = {-->
<!--            url: '/colorSeed/getColorseedData',-->
<!--            type: 'get',-->
<!--            data: {currPageSize: currPageSize},-->
<!--            success: function (res) {-->
<!--                lineVal = []-->
<!--                dataNum = []-->
<!--                window.strockline(2, '#FFF')-->
<!--                var $thisTable = $('.t').find('tbody');-->
<!--                $thisTable.empty()-->
<!--                getTitle();-->
<!--                creatTable(res);-->
<!--                var canvas = $("#lineCanvas")[0];-->
<!--                canvas.width = $(".t").width();-->
<!--                canvas.height = $(".t").height();-->
<!--                line();-->
<!--                lineToNum(lineVal);-->
<!--                strockline();-->
<!--                $.load.removeLoading();-->
<!--            }-->
<!--        };-->
<!--        $.ajax(option);-->
<!--    }-->
<!--</script>-->


<script type="text/javascript">
    layui.use('table', function () {
        var table = layui.table;
        var tableCols = [];
        for (let i = 0; i < 51; i++) {
            if (i === 0) {
                tableCols.push({
                    field: 'numPeriods',
                    width: 50,
                    height: 34,
                    title: '期数',
                    sort: true,
                    style: 'background-color: #5FB878;'
                });
            } else if (i < 36) {
                tableCols.push({field: 'id' + i, width: 34, height: 34, title: i, style: 'font-size:10px'});
            } else if (i >= 36) {
                tableCols.push({
                    field: 'id' + (i - 35),
                    width: 34,
                    height: 34,
                    title: (i - 35),
                    style: 'font-size:10px'
                });
            }
        }

        table.render({
            elem: '#colorTable'
            , url: '/colorSeed/getColorDataTable'
            , method: 'get'
            , fiexdRowHeight: 34
            , cellMinWidth: 36 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            , cols: [
                tableCols
            ], parseData: function (res) { //res 即为原始返回的数据
                debugger
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.count, //解析数据长度
                    "data": [res.data] //解析数据列表
                };
            }, done: function (res, curr, count) {
                $('tr').find('span').css({'font-size': '1px'});
                $('tr').find('th').eq(0).css({'background-color': '#faf5ff'});

            }
        });
    });
</script>
</body>
</html>