<!DOCTYPE html>
<html lang="zh"
      xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1, user-scalable=0"/>
    <meta content="telephone=no,email=no" name="format-detection"/>
    <meta name="author" content="Website">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0">
    <title>我的网站</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/swiper-3.3.1.min.css}" rel="stylesheet">
    <link th:href="@{/css/aos.css}" rel="stylesheet">
    <link th:href="@{/css/xlx.shuwon.css}" rel="stylesheet">
</head>
<style>
    .home-body .main-body .boxs {
        width: 90%;
    }

    .home-body .main-body .boxs li {
        width: 50%;
    }

    @media screen and (max-width: 1024px) {
        .clearBoth .aos-init {
            display: inline-block;
            width: 30%;
        }

        .home-body .main-body .boxs li {
            /*width: 25%;*/
        }

        .Tits img {
            width: 25% !important;
        }
    }
</style>
<body aos-easing="ease-out" aos-duration="600" aos-delay="0" style="">

<div class="zhidingUP"></div>
<div class="zhiding"></div>

<div class="shade show">
    <div class="shade-top"></div>
    <div class="shade-bottom"></div>
    <img src="/image/loading.gif" class="loading">
</div>

<section class="home-body BIGBOX">
    <div class="main">
        <div class="main-body">
            <div class="Tits aos-init" aos-easing="ease-out-back" aos="zoom-out" aos-duration="500"
                 style="margin-top: -4%;margin-bottom: 1%;">
                <img src="/image/header_2.jpg" style="width: 15%;height: 15%;">
            </div>
            <ul class="boxs clearBoth">
                <li class="p1 aos-init" aos-delay="0" aos="zoom-in-up">
                    <a href="/colorSeed/colorseed">
                        <div class="box-z">
                            <!--                            <div class="img-box"></div>-->
                            <div class="img-box"
                                 style="background-image: url(image/dlt.png);background-position: 50% 50%;background-size: 60% 100%;"></div>
                            <span>超级大乐透</span>
                        </div>
                        <div class="box-f">
                            <div class="img-box"
                                 style="background-image: url(image/dlt.png);background-position: 50% 50%;background-size: 70% 110%;"></div>
                            <span>超级大乐透</span>
                        </div>
                    </a>
                </li>
                <li class="p2 aos-init" aos-delay="200" aos="zoom-in-up">
                    <a href="JavaScript:alert('开发中')">
                        <div class="box-z">
                            <div class="img-box"
                                 style="background-image: url(image/p3_1.jpg);background-position: 50% 50%;background-size: 60% 100%;"></div>
                            <span>排列三</span>
                        </div>
                        <div class="box-f">
                            <div class="img-box"
                                 style="background-image: url(image/p3_1.jpg);background-position: 50% 50%;background-size: 70% 110%;"></div>
                            <span>排列三</span>
                        </div>
                    </a>
                </li>
                <li class="p3 aos-init" aos-delay="0" aos="zoom-in-up">
                    <a href="JavaScript:alert('开发中')">
                        <div class="box-z">
                            <div class="img-box"
                                 style="background-image: url(image/p5_1.jpg);background-position: 50% 50%;background-size: 60% 100%;"></div>
                            <span>排列五</span>
                        </div>
                        <div class="box-f">
                            <div class="img-box"
                                 style="background-image: url(image/p5_1.jpg);background-position: 50% 50%;background-size: 70% 110%;"></div>
                            <span>排列五</span>
                        </div>
                    </a>
                </li>
                <li class="p4 aos-init" aos-delay="200" aos="zoom-in-up">
                    <a href="JavaScript:alert('开发中')">
                        <div class="box-z">
                            <div class="img-box"
                                 style="background-image: url(image/qxc.png);background-position: 50% 50%;background-size: 60% 100%;"></div>
                            <span>七星彩</span>
                        </div>
                        <div class="box-f">
                            <div class="img-box"
                                 style="background-image: url(image/qxc.png);background-position: 50% 50%;background-size: 70% 110%;"></div>
                            <span>七星彩</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
<footer>
    <!--    <img src="/image/footer-bg.png" alt="" class="img">-->
    <div class="footer-bottom">
        <ul>
            <li>© 2021 snowylchen</li>
            <li>
                <a target="_blank" href="http://www.wangdahai.cn/">网站设计：snowylchen</a>
            </li>
            <li>********</li>
        </ul>
    </div>
</footer>
<!--<script th:src="@{/js/jquery-1.10.2.min.js}"></script>-->
<script th:src="@{/js/jquery-1.7.2.js}"></script>
<script th:src="@{/js/aos.js}"></script>
<script th:src="@{/js/swiper.js}"></script>
<script th:src="@{/js/xlx.shuwon.js}" id="JS" page="home"></script>
<script type="text/javascript">
    if ($(window).width() > 1024) {
        AOS.init({
            duration: 1000,
            easing: 'ease',
        });
    } else {
        AOS.init({
            duration: 500,
            easing: 'ease'
        });
    }
</script>


</body>
</html>