<!DOCTYPE html>
<html lang="zh"
      xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="author" content="Website">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0">
    <title>我的网站</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/swiper-3.3.1.min.css}" rel="stylesheet">
    <link th:href="@{/css/aos.css}" rel="stylesheet">
    <link th:href="@{/css/xlx.shuwon.css}" rel="stylesheet">
<!--    <link href="http://www.htmlsucai.com/favicon.ico" rel="shortcut icon">-->
<!--    <link href="http://www.htmlsucai.com/demo/2018/favicon.ico" *tpa="http://r060.mobanvip.com/favicon.ico*/"-->
<!--          rel="shortcut icon">-->
</head>
<style>
    .home-body .main-body .boxs{ width: 1300px; }
    .home-body .main-body .boxs li{ width: 50%; }
</style>
<body aos-easing="ease-out" aos-duration="600" aos-delay="0" style="">

<div class="zhidingUP"></div>
<div class="zhiding"></div>

<div id="mobileNav">
    <ul>
    </ul>
</div>

<div class="shade show">
    <div class="shade-top"></div>
    <div class="shade-bottom"></div>
    <img src="/image/loading.gif" class="loading">
</div>

<section class="home-body BIGBOX">
    <div class="main">
        <div class="main-body">
            <div class="Tits aos-init" aos-easing="ease-out-back" aos="zoom-out">
                <img src="/image/products-tit.png">
            </div>
            <ul class="boxs clearBoth">
                <li class="p1 aos-init" aos-delay="0" aos="zoom-in-up">
                    <a href="/colorSeed/colorseed">
                        <div class="box-z">
                            <div class="img-box"></div>
                            <span>超级大乐透</span>
                        </div>
                        <div class="box-f">
                            <div class="img-box" style="background-image: url(statics/images/1-1P40F20F00-L.png);"></div>
                            <span>超级大乐透</span>
                        </div>
                    </a>
                </li>
                <li class="p2 aos-init" aos-delay="200" aos="zoom-in-up">
                    <a href="JavaScript:alert('开发中')">
                        <div class="box-z">
                            <div class="img-box"></div>
                            <span>排列三</span>
                        </div>
                        <div class="box-f">
                            <div class="img-box" style="background-image: url(/images/1-1P40F20U50-L.png
);"></div>
                            <span>排列三</span>
                        </div>
                    </a>
                </li>
                <li class="p3 aos-init" aos-delay="0" aos="zoom-in-up">
                    <a href="JavaScript:alert('开发中')">
                        <div class="box-z">
                            <div class="img-box"></div>
                            <span>排列五</span>
                        </div>
                        <div class="box-f">
                            <div class="img-box" style="background-image: url(statics/images/1-1P40F211160-L.png
);"></div>
                            <span>排列五</span>
                        </div>
                    </a>
                </li>
                <li class="p4 aos-init" aos-delay="200" aos="zoom-in-up">
                    <a href="JavaScript:alert('开发中')">
                        <div class="box-z">
                            <div class="img-box"></div>
                            <span>七星彩</span>
                        </div>
                        <div class="box-f">
                            <div class="img-box" style="background-image: url(statics/images/1-1P40F213180-L.png
);"></div>
                            <span>七星彩</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
<footer>
<!--    <img src="/image/footer-bg.png" alt="" class="img">-->
    <div class="footer-bottom">
        <ul>
            <li>© 2021 snowylchen </li>
            <li>
                <a target="_blank" href="http://www.wangdahai.cn/">网站设计：snowylchen</a>
            </li>
            <li>********</li>
        </ul>
    </div>
</footer>
<script th:src="@{/js/jquery-1.10.2.min.js}"></script>
<script th:src="@{/js/aos.js}"></script>
<script th:src="@{/js/swiper-3.3.1.jquery..js}"></script>
<script th:src="@{/js/xlx.shuwon.js}" id="JS" page="home"></script>
<script type="text/javascript">
    if ($(window).width() > 1024) {
        AOS.init({
            duration: 600,
            easing: 'ease-out',
        });
    }
</script>


</body>
</html>