<!DOCTYPE html>
<html lang="zh"
      xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="author" content="Website">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0">
    <title>我的网站</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/swiper-3.3.1.min.css}" rel="stylesheet">
    <link th:href="@{/css/aos.css}" rel="stylesheet">
    <link th:href="@{/css/xlx.shuwon.css}" rel="stylesheet">
<!--    <link href="http://www.htmlsucai.com/favicon.ico" rel="shortcut icon">-->
<!--    <link href="http://www.htmlsucai.com/demo/2018/favicon.ico" *tpa="http://r060.mobanvip.com/favicon.ico*/"-->
<!--          rel="shortcut icon">-->
</head>
<style>
    .home-body .main-body .boxs{ width: 1300px; }
    .home-body .main-body .boxs li{ width: 50%; }
</style>
<body aos-easing="ease-out" aos-duration="600" aos-delay="0" style="">

<div class="zhidingUP"></div>
<div class="zhiding"></div>

<div id="mobileNav">
    <ul>
    </ul>
</div>

<div class="shade show">
    <div class="shade-top"></div>
    <div class="shade-bottom"></div>
    <img src="/image/loading.gif" class="loading">
</div>

<header>
    <div class="nav-top">
        <a href="http://www.htmlsucai.com/demo/2018/04/%E5%A4%A7%E6%B0%94%E7%9A%84%E5%AE%B6%E5%85%B7%E8%A3%85%E9%A5%B0%E4%BA%A7%E5%93%81%E4%BC%81%E4%B8%9A%E7%AB%99%E5%93%8D%E5%BA%94%E5%BC%8F%E6%A8%A1%E6%9D%BF/index.htm"
           class="logo">
            <img src="/image/logo.png" class="img1">
            <img src="/image/logo-top.png" class="img2">
        </a>
        <div class="memu">
            <div id="navToggle">
                <span class="span1"></span>
                <span class="span2"></span>
                <span class="span3"></span>
            </div>
            <img th:src="@{/image/menu.png}" class="img1">
            <img th:src="@{/image/menu-top.png}" class="img2">
        </div>
    </div>
    <nav class="nav">
        <div class="line"></div>
        <ul class="nav-ul1">
            <li class="n1">
                <a href="http://www.htmlsucai.com/demo/2018/04/%E5%A4%A7%E6%B0%94%E7%9A%84%E5%AE%B6%E5%85%B7%E8%A3%85%E9%A5%B0%E4%BA%A7%E5%93%81%E4%BC%81%E4%B8%9A%E7%AB%99%E5%93%8D%E5%BA%94%E5%BC%8F%E6%A8%A1%E6%9D%BF/product-cj.html"
                   class="a1">产品中心</a>
                <ul class="nav-ul2">
                    <li>
                        <a href="http://www.htmlsucai.com/demo/2018/04/%E5%A4%A7%E6%B0%94%E7%9A%84%E5%AE%B6%E5%85%B7%E8%A3%85%E9%A5%B0%E4%BA%A7%E5%93%81%E4%BC%81%E4%B8%9A%E7%AB%99%E5%93%8D%E5%BA%94%E5%BC%8F%E6%A8%A1%E6%9D%BF/product-cj.html">场景</a>
                        <a href="http://www.htmlsucai.com/demo/2018/04/%E5%A4%A7%E6%B0%94%E7%9A%84%E5%AE%B6%E5%85%B7%E8%A3%85%E9%A5%B0%E4%BA%A7%E5%93%81%E4%BC%81%E4%B8%9A%E7%AB%99%E5%93%8D%E5%BA%94%E5%BC%8F%E6%A8%A1%E6%9D%BF/product-cp.html">产品</a>
                        <a href="http://www.htmlsucai.com/demo/2018/04/%E5%A4%A7%E6%B0%94%E7%9A%84%E5%AE%B6%E5%85%B7%E8%A3%85%E9%A5%B0%E4%BA%A7%E5%93%81%E4%BC%81%E4%B8%9A%E7%AB%99%E5%93%8D%E5%BA%94%E5%BC%8F%E6%A8%A1%E6%9D%BF/product-xl.html">系列</a>
                    </li>
                </ul>
            </li>
            <li class="n2">
                <a href="http://www.htmlsucai.com/demo/2018/04/%E5%A4%A7%E6%B0%94%E7%9A%84%E5%AE%B6%E5%85%B7%E8%A3%85%E9%A5%B0%E4%BA%A7%E5%93%81%E4%BC%81%E4%B8%9A%E7%AB%99%E5%93%8D%E5%BA%94%E5%BC%8F%E6%A8%A1%E6%9D%BF/brand-ln.html"
                   class="a1">品牌中心</a>
                <ul class="nav-ul2">
                    <li>

                        <a href="http://www.htmlsucai.com/demo/2018/04/%E5%A4%A7%E6%B0%94%E7%9A%84%E5%AE%B6%E5%85%B7%E8%A3%85%E9%A5%B0%E4%BA%A7%E5%93%81%E4%BC%81%E4%B8%9A%E7%AB%99%E5%93%8D%E5%BA%94%E5%BC%8F%E6%A8%A1%E6%9D%BF/brand-ln.html">品牌理念</a>

                        <a href="http://www.htmlsucai.com/demo/2018/04/%E5%A4%A7%E6%B0%94%E7%9A%84%E5%AE%B6%E5%85%B7%E8%A3%85%E9%A5%B0%E4%BA%A7%E5%93%81%E4%BC%81%E4%B8%9A%E7%AB%99%E5%93%8D%E5%BA%94%E5%BC%8F%E6%A8%A1%E6%9D%BF/brand-zx.html">品牌资讯</a>

                        <a href="http://www.htmlsucai.com/demo/2018/04/%E5%A4%A7%E6%B0%94%E7%9A%84%E5%AE%B6%E5%85%B7%E8%A3%85%E9%A5%B0%E4%BA%A7%E5%93%81%E4%BC%81%E4%B8%9A%E7%AB%99%E5%93%8D%E5%BA%94%E5%BC%8F%E6%A8%A1%E6%9D%BF/brand-yc.html">品牌用材</a>

                    </li>
                </ul>
            </li>
        </ul>
        <div class="line line-b"></div>
    </nav>
</header>

<section class="home-body BIGBOX">
    <div class="main">
        <div class="main-body">
            <div class="Tits aos-init" aos-easing="ease-out-back" aos="zoom-out">
                <img src="/image/products-tit.png">
            </div>
            <ul class="boxs clearBoth">
                <li class="p1 aos-init" aos-delay="0" aos="zoom-in-up">
                    <a href="/colorSeed/colorseed">
                        <div class="box-z">
                            <div class="img-box"></div>
                            <span>桌子</span>
                        </div>
                        <div class="box-f">
                            <div class="img-box" style="background-image: url(statics/images/1-1P40F20F00-L.png);"></div>
                            <span>桌子</span>
                        </div>
                    </a>
                </li>
                <li class="p2 aos-init" aos-delay="200" aos="zoom-in-up">
                    <a href="http://www.htmlsucai.com/demo/2018/04/%E5%A4%A7%E6%B0%94%E7%9A%84%E5%AE%B6%E5%85%B7%E8%A3%85%E9%A5%B0%E4%BA%A7%E5%93%81%E4%BC%81%E4%B8%9A%E7%AB%99%E5%93%8D%E5%BA%94%E5%BC%8F%E6%A8%A1%E6%9D%BF/product-cp.html">
                        <div class="box-z">
                            <div class="img-box"></div>
                            <span>床</span>
                        </div>
                        <div class="box-f">
                            <div class="img-box" style="background-image: url(/images/1-1P40F20U50-L.png
);"></div>
                            <span>床</span>
                        </div>
                    </a>
                </li>
                <li class="p3 aos-init" aos-delay="0" aos="zoom-in-up">
                    <a href="http://www.htmlsucai.com/demo/2018/04/%E5%A4%A7%E6%B0%94%E7%9A%84%E5%AE%B6%E5%85%B7%E8%A3%85%E9%A5%B0%E4%BA%A7%E5%93%81%E4%BC%81%E4%B8%9A%E7%AB%99%E5%93%8D%E5%BA%94%E5%BC%8F%E6%A8%A1%E6%9D%BF/product-cp.html">
                        <div class="box-z">
                            <div class="img-box"></div>
                            <span>厅柜</span>
                        </div>
                        <div class="box-f">
                            <div class="img-box" style="background-image: url(statics/images/1-1P40F211160-L.png
);"></div>
                            <span>厅柜</span>
                        </div>
                    </a>
                </li>
                <li class="p4 aos-init" aos-delay="200" aos="zoom-in-up">
                    <a href="http://www.htmlsucai.com/demo/2018/04/%E5%A4%A7%E6%B0%94%E7%9A%84%E5%AE%B6%E5%85%B7%E8%A3%85%E9%A5%B0%E4%BA%A7%E5%93%81%E4%BC%81%E4%B8%9A%E7%AB%99%E5%93%8D%E5%BA%94%E5%BC%8F%E6%A8%A1%E6%9D%BF/product-cp.html">
                        <div class="box-z">
                            <div class="img-box"></div>
                            <span>沙发</span>
                        </div>
                        <div class="box-f">
                            <div class="img-box" style="background-image: url(statics/images/1-1P40F213180-L.png
);"></div>
                            <span>沙发</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
<footer>
<!--    <img src="/image/footer-bg.png" alt="" class="img">-->
    <div class="footer-bottom">
        <ul>
            <li>© 2018 Moreduo </li>
            <li>
                <a target="_blank" href="http://www.wangdahai.cn/">网站设计：Moreduo</a>
            </li>
            <li>鄂ICP备88888888号</li>
        </ul>
    </div>
</footer>
<script th:src="@{/js/jquery-1.10.2.min.js}"></script>
<script th:src="@{/js/aos.js}"></script>
<script th:src="@{/js/swiper-3.3.1.jquery..js}"></script>
<script th:src="@{/js/xlx.shuwon.js}" id="JS" page="home"></script>
<script type="text/javascript">
    if ($(window).width() > 1024) {
        AOS.init({
            duration: 600,
            easing: 'ease-out',
        });
    }
</script>


</body>
</html>