.table {
    grid-template-columns: repeat(51, minmax(0, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(0, 1fr));
    min-width: 35rem;
}

td.character:nth-child(51n + 1) {
    /*background: rgba(216, 187, 255, 0.3);*/
}

td.character:nth-child(-n+51) {
    /*background: rgba(192, 253, 255, 0.3);*/
    /*background:red;*/
}

td.character:hover {
    /*background-color: rgba(128, 128, 128, 0.1);*/
}