<!DOCTYPE html>
<html lang="zh"
      xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="author" content="Website">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0">
    <title>我的网站</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/swiper-3.3.1.min.css}" rel="stylesheet">
    <link th:href="@{/css/aos.css}" rel="stylesheet">
    <link th:href="@{/css/xlx.shuwon.css}" rel="stylesheet">

    <!--    表格-->
    <link th:href="@{/css/table/tailwind.min.css}" rel="stylesheet">
    <link th:href="@{/css/table/style.css}" rel="stylesheet">
    <link th:href="@{/css/online/onLine.css}" rel="stylesheet">
    <!--    <link href="http://www.htmlsucai.com/favicon.ico" rel="shortcut icon">-->
    <!--    <link href="http://www.htmlsucai.com/demo/2018/favicon.ico" *tpa="http://r060.mobanvip.com/favicon.ico*/"-->
    <!--          rel="shortcut icon">-->
</head>
<style>
    .choose {
        color: red;
        font-weight: bold;
    }

    .ash {
        color: #ccc;
    }

    .cycle {
        height: 100%;
        width: 100%;
        line-height: 34px;
    }

    .lastRow {
        width: 100%;
        padding: 2px;
        text-align: center;
        color: #FFA500;
        font-size: 14px;
    }

    .demo {
        position: relative;
    }

    .t {
        border: 3px solid #CCC;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        table-layout: fixed;
        /*margin: 40px 100px;*/
    }

    .t tr:first-child td:not(:first-child) {
        background-color: rgba(192, 253, 255, 0.3);
    }

    .t tr td:first-child {
        width: 60%;
    }

    .t td {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 25%;
        height: 34px;
        border: 1px solid #b3b3b3;
        align-items: center;
        text-align: center;
        cursor: default;
    }

    .t td:hover {
        background-color: rgba(128, 128, 128, 0.1);
    }

    #lineDiv {
        position: absolute;
        /*top: calc(100% - 750px);*/
        /*left: calc(100% - 1833px);*/
        height: 100%;
    }

    .w-11\/12 {
        width: 95% !important;
    }


    .part1_li_1 {
        width: 180% !important;
    }

    .part2_li_1 {
        border-left-color: #000 !important;
        border-left-width: 2px !important;
    }

    .part2_li_7, .part2_li_14, .part2_li_21, .part2_li_28, .part2_li_35 {
        border-right-color: #000 !important;
        border-right-width: 2px !important;
    }

    .part3_li_6 {
        border-right-color: #000 !important;
        border-right-width: 2px !important;
    }

</style>
<body aos-easing="ease-out" aos-duration="600" aos-delay="0" style="">

<div class="zhidingUP"></div>
<div class="zhiding"></div>
<div id="mobileNav">
    <ul></ul>
</div>

<div class="shade show">
    <div class="shade-top"></div>
    <div class="shade-bottom"></div>
    <img th:src="@{/image/loading.gif}" class="loading">
</div>

<header>
    <div class="nav-top">
        <a href="/"
           class="logo">
            <img src="/image/logo.png" class="img1">
            <img src="/image/logo-top.png" class="img2">
        </a>
        <div class="memu">
            <div id="navToggle">
                <span class="span1"></span>
                <span class="span2"></span>
                <span class="span3"></span>
            </div>
            <img th:src="@{/image/menu.png}" class="img1">
            <img th:src="@{/image/menu-top.png}" class="img2">
        </div>
    </div>
    <nav class="nav">
        <div class="line"></div>
        <ul class="nav-ul1">
            <li class="n1">
                <a href="javascript:void(0)"
                   class="a1">走势图</a>
                <ul class="nav-ul2">
                    <li>
                        <a href="/p3/p3">排列三</a>
                        <a href="/qxc/qxc">七星彩</a>
                        <a href="/colorSeed/colorseed">超级大乐透</a>
                    </li>
                </ul>
            </li>
            <li class="n2">
                <a href="avascript:void(0)"
                   class="a1">预测</a>
                <ul class="nav-ul2">
                    <li>
                        <a href="#">排列三预测</a>
                        <a href="#">七星彩预测</a>
                        <a href="#">超级大乐透预测</a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="line line-b"></div>
    </nav>
</header>

<section class="home-body">
    <iframe src="/colorSeed/select" frameborder="0" width="70" height="200"
            style="position:fixed;top: 100px;left:5px;z-index: 3"></iframe>
    <div class="main-body" style="height: 100vh;">
        <div class="flex flex-col justify-center items-center bg-gray-100 py-5 demo" data-pair="3">
            <h1 class="text-xl font-bold uppercase my-3">排列五</h1>
            <div class=" w-11/12" id="lineDiv">
                <canvas width="480" height="430"
                        id="lineCanvas">
                </canvas>
            </div>
            <div class=" w-11/12" id="oldDiv">
                <table class="t text-lg shadow-md border border-solid" id="colorTable">
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<script th:src="@{/js/jquery-1.10.2.min.js}"></script>

<script th:src="@{/js/aos.js}"></script>
<script th:src="@{/js/swiper.js}"></script>
<script th:src="@{/js/xlx.shuwon.js}" id="JS" page="home"></script>
<!--table-->
<script th:src="@{/js/table/vue.min.js}"></script>
<script th:src="@{/js/table/script.js}"></script>
<script th:inline="javascript">
    var lineVal = [];
    if ($(window).width() > 1024) {
        AOS.init({
            duration: 600,
            easing: 'ease-out',
        });
    }
    var data = [[${cs}]];

    function getLi(item, idx, num, choose, isTitle, isPos, preOrsuf, colspan) {
        // console.log(item)
        var chooseCss = choose ? 'choose' : isTitle ? '' : 'ash';
        if (choose) {
            return `<td isTitle = ${(!!isTitle)} class="character border items-center ${preOrsuf} justify-center ${preOrsuf}_li_${idx} ${chooseCss}"><div class="cycle" isEvenNum="${item.numPeriods % 2 === 0}" id="${item.numPeriods}-${idx}" pos="${isPos}">${num}</div></td>`;
        }
        return `<td isTitle = ${(!!isTitle)} class="character border ${preOrsuf} items-center justify-center ${preOrsuf}_li_${idx} ${chooseCss}" ${colspan ? ('colspan=' + colspan) : ''}>${colspan ? '开奖结果' : num}</td>`;
    }

    function getCell1(num) {
        return `<td class="bg-purple-100 items-center justify-center li_0">${num}</td>`;
    }

    function getTitle() {
        var $thisTable = $('.t').find('tbody');
        $thisTable.append(`<tr></tr>`);
        var $this = $thisTable.find('tr');
        $this.append(`<td class="bg-purple-100 items-center justify-center li_0"><div id="headDiv">期数</div></td>`);
        for (let i = 1; i < 55; i++) {
            if (i <= 7) {
                var it1 = i < 10 ? ('0' + i) : i;
                if (i == 1) {
                    $this.append(getLi(null, i, it1, undefined, true, 0, 'part1', 7));
                }
            } else if (i > 7 && i <= 42) {
                var it2 = (i - 7) < 10 ? ('0' + (i - 7)) : (i - 7);
                $this.append(getLi(null, (i - 7), it2, undefined, true, 0, 'part2'));
            } else {
                var it = (i - 42) < 10 ? ('0' + (i - 42)) : (i - 42);
                $this.append(getLi(null, i - 42, it, undefined, true, 1, 'part3'));
            }
        }
    }

    function getRow($this, item) {
        var data = [];
        for (let i = 1; i < 8; i++) {
            if (i < 6) {
                data.push(getInput(item['preNum' + i]));
            } else {
                data.push(getInput(item['sufNum' + (i - 5)]));
            }
        }
        for (let i = 1; i < 55; i++) {
            if (JSON.stringify(data).indexOf('input') > -1) {
                $this.append(getLi(item, i, data[0], true, undefined, 0, 'part1'));
            } else {
                if (i <= 7) {
                    var it1 = i < 6 ? 'preNum' + i : 'sufNum' + (i - 5);
                    $this.append(getLi(item, i, item[it1], true, undefined, 0, 'part1'));
                } else if (i > 7 && i <= 42) {
                    var it2 = (i - 7) < 10 ? ('0' + (i - 7)) : (i - 7);
                    $this.append(getLi(item, i - 7, it2, data.slice(0, 5).includes(it2 + ''), undefined, 1, 'part2'));
                } else {
                    var it3 = (i - 42) < 10 ? ('0' + (i - 42)) : (i - 42);
                    $this.append(getLi(item, i - 42, it3, data.slice(5, data.length).includes(it3 + ''), undefined, 1, 'part3'));
                }
            }
        }
    }

    function PrefixInteger(num, n) {
        return (Array(n).join(0) + num).slice(-n);
    }

    function getInput(item) {
        return item ? item : `<input type="text" maxlength="2" class="lastRow" onkeydown="PrefixInteger(this.value,2)"/>`
    }


    $(function () {
        getTitle();
        creatTable(data);
    })

    function creatTable(d) {
        d.push({numPeriods: d[d.length - 1].numPeriods + 1})
        $.each(d || [], function (index, item) {
            var $this = $('.t').find('tbody');
            $this.append(`<tr id="tr-${index}"></tr>`);
            $this = $('#tr-' + index)
            $this.append(getCell1(item.numPeriods));
            getRow($this, item);
        })
        initRow($);
    }

    function line() {
        var preId, preVal, pre, flag = false, value = [];
        $.each($('td div'), function (index, item) {
            var val = $(item).attr('id');
            var v1 = val.split('-')[0];
            var v2 = val.split('-')[1];
            if (index === 0) {
                lineVal.push({key: v1, value: []})
            } else {
                if (lineVal[lineVal.length - 1].key == v1) {
                    value.push({x: $(item).attr('left'), y: $(item).attr('top'), v: v2, pos: $(item).attr('pos')});
                    lineVal[lineVal.length - 1].value = value;
                } else {
                    value = []
                    value.push({x: $(item).attr('left'), y: $(item).attr('top'), v: v2, pos: $(item).attr('pos')});
                    lineVal.push({
                        key: v1, value: value
                    });
                }
            }
            flag = abs(preId, v1) && abs(preVal, v2);
            if (preId === undefined || (preId !== v1 && preId - v1 === 2)) {
                preId = v1;
            }
            if (preVal === undefined || (preVal !== v1)) {
                preVal = v2;
            }
        })
    }

    function abs(num1, num2) {
        return Math.abs(num1 - num2) === 1
    }
</script>


<script th:src="@{/js/line/online.js}"></script>
<script th:src="@{/js/utils.js}"></script>

<script>
    var dataNum = [];

    function lineToeach(rowData) {
        for (let i = 0; i < rowData.length; i++) {
            var l1 = rowData[i];
            var l2 = rowData[i + 1];
            var l3 = rowData[i + 2];
            if (l1.length === 0) {
                continue
            }
            if (l2 === undefined || l3 === undefined) {
                break
            }
            for (let j = 0; j < l1.length; j++) {
                $.each(l1[j], function (index1, item1) {
                    for (let k = 0; k < l2.length; k++) {
                        $.each(l2[k], function (index2, item2) {
                            if (abs($(item1).text(), $(item2).text())) {
                                for (let l = 0; l < l3.length; l++) {
                                    $.each(l3[l], function (index3, item3) {
                                        if (abs($(item2).text(), $(item3).text()) && $(item1).text() !== $(item3).text()) {
                                            dataNum.push({
                                                moveX: $(item1).attr('left'),
                                                moveY: $(item1).attr('top'),
                                                toX: $(item3).attr('left'),
                                                toY: $(item3).attr('top')
                                            });
                                        }
                                        return false;
                                    });
                                }
                            }
                            return false;
                        });
                    }
                    return false;
                });
            }
        }
    }

    /**
     * 设置多少期没出该列号码
     */
    function renderAppearNum(part) {
        if (typeof part != 'string') {
            return
        }
        var unclude = [], _part = [], cells = 0;
        $('.' + part).each(function (index, element) {
            if ($(element).attr('isTitle') == 'true') {
                cells++;
            }
        });
        var tableId = document.getElementById("colorTable");
        var str = 1;
        for (let j = 1; j <= cells; j++) {
            for (var i = 1; i < tableId.rows.length; i++) {
                var cell = tableId.rows[i].cells[j + 7];
                if (!$(cell).is('.choose')) {
                    $(cell).text(str < 10 ? ('0' + str) : str);
                    str++;
                } else {
                    str = 1;
                }
            }
            str = 1;
        }
    }

    /**
     * 分组获取连线坐标
     */
    function lineToNum() {
        var rowData = {part1: [], part2: [], part3: []}, _p1 = [], _p2 = [], _p3 = [];
        $("#colorTable").find('tr').each(function () {
            if (parseInt($(this).text())) {
                var part1 = [];
                var part3 = [];
                var part2 = [];
                $(this).find('.choose div').each(function (index, item) {
                    if (index < 7) {
                        part1.push($(this));
                        $(this).css('color', '#000');
                    } else if (index > 11) {
                        part3.push($(this));
                        $(this).css('color', '#00BFFF');
                    } else {
                        part2.push($(this));
                    }
                });
                _p1.push(part1);
                _p3.push(part3);
                _p2.push(part2);
            }
        });
        rowData.part1 = _p1;
        rowData.part2 = _p2;
        rowData.part3 = _p3;
        // lineToeach(rowData.part1);
        lineToeach(rowData.part2);
        lineToeach(rowData.part3);
        renderAppearNum('part2')
    }

    $(function () {
        var obj = $(".demo");
        var size = obj.size();
        for (var i = 0; i < size; i++) {
            obj.eq(i).onLine({
                regainCanvas: true
            });
        }
        line();
        lineToNum();
        // lineToNumNew(lineVal)
        strockline()
    });

    top.refreshColor = function (currPageSize) {
        $.load.loading();
        var option = {
            url: '/colorSeed/getColorseedData',
            type: 'get',
            data: {currPageSize: currPageSize},
            success: function (res) {
                lineVal = []
                dataNum = []
                window.strockline(2, '#FFF')
                var $thisTable = $('.t').find('tbody');
                $thisTable.empty()
                getTitle();
                creatTable(res);
                var canvas = $("#lineCanvas")[0];
                canvas.width = $(".t").width();
                canvas.height = $(".t").height();
                line();
                lineToNum();
                strockline();
                $.load.removeLoading();
            }
        };
        $.ajax(option);
    }
</script>
</body>
</html>